.mainContainer {
  width: 55rem;
  height: 25rem;
  display: flex;
  margin: 2rem;
  padding: 1rem;
}
#canvas {
  background-color: var(--color2);
  width: 80%;
  height: 100%;
}

.side {
  width: 20%;
  height: 99%;
  text-align: center;
  border: 2px solid var(--color2);
}
.lenght {
  margin-top: 2rem;
}
.restart {
  display: inline-block;
  position: absolute;
  background-color: var(--color1);
  margin-top: 10rem;
  border-radius: 0.3rem;
}
.restart .button {
  display: inline-block;
  border: 2px solid var(--color2);
  padding: 1rem 2rem;
  font-size: 2rem;
  margin: 2rem 3rem;
  transition: all 0.5s;
  cursor: pointer;
}
.restart .button:hover {
  transform: scale(1.2);
  color: var(--color6);
  border: 2px solid var(--color6);
}
